h1 {
	font-family: 'SF Pro Text', 'Helvetica Neue';
}

.title {
	background-color: #B44B32;
	color: #fff;
	padding: 20px 0;
}
.burger-list {
	width: 100%;
	position: absolute;
	bottom: 0;
	padding-left: 0;
}

.burger-builder {
	height: 100%;
	padding-top: calc(100vh - 20px);
	padding-bottom: 10px;
}

.burger-builder li {
	margin: -5px 0;
}

.right-col {
	border: 2px dashed #B44B32;
}

.segment {
	height: 100%;
	text-align: center;
}

.item {
	width: 100%;
	text-align: center;
	margin: 10px 0;
	list-style: none;
	background-color: transparent;
}

.item img {
	max-width: 100%;
	max-height: 100%;
}

.lettuce {
	position: relative;
	z-index: 4;
}

.cheese {
	height: 38px;
	position: relative;
	z-index: 5;
}

.cheese img {
	max-height: 200%;
}